
/* @import url("https://fonts.googleapis.com/css?family=Cabin:400,700"); */

body {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
  }
  
  .testimonials__section {
    /* background: linear-gradient(to bottom, #43cea2, #185a9d); */
    background-color: #F9F9FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  @media (min-width: 48em) {
    .testimonials__section {
      flex-direction: row;
      justify-content: center;
      height: 700px;
    }
  }
  
  .testimonials__block {
    cursor: pointer;
    /* -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 150%); */
    /* mask-image: linear-gradient(180deg, black 0%, transparent 150%); */
    margin-bottom: 3rem;
    margin-top: 3rem;
    transition-duration: 0.7s;
  }
  
  @media (min-width: 48em) {
    .testimonials__block {
      max-width: 740px;
      min-width: 390px;
      transform: scale(0.7);
    }
  }
  
  .testimonials__message {
    display: block;
    padding: 1rem 1.5rem;
    position: relative;
    border-radius: 0.2rem;
    color: black;
    font-size: 1.2rem;
    line-height: 2rem;
    overflow: hidden;
    text-align: center;
  }
  
  @media (min-width: 48em) {
    .testimonials__message {
      padding: 3rem 3rem 2rem 5rem;
      text-align: left;
    }
    .testimonials__message::before {
      display: block;
      position: absolute;
      content: "\201C";
      font-size: 90px;
      line-height: 1;
      color: #43cea2;
      top: 2rem;
      left: 1.4rem;
    }
  }
  
  .testimonials__message--dotter::after {
    content: "...";
  }
  
  .testimonials__message--hider {
    display: none;
  }
  
  .testimonials__picture {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 100%;
  }
  
  .testimonials__name {
    margin: 0 auto;
    padding-top: 1rem;
    color: black;
    font-size: 1.2rem;
    line-height: 1.3333;
    margin-bottom: 0;
    text-align: center;
  }
  
  .testimonials__position {
    margin: 5px auto;
    color: grey;
    margin-bottom: 0;
    text-align: center;
    display: none;
  }
  
  .testimonials__block--active {
    mask-image: none;
    -webkit-mask-image: none;
    flex: 1;
    transform: scale(1);
    transition-duration: 0.7s;
  }
  
  @media (min-width: 48em) {
    .testimonials__block--active {
      margin: 2rem;
    }
  }
  
  .testimonials__block--active .testimonials__message {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    cursor: auto;
    border: 2px solid #085A0E;
    color: black;
    height: auto;
    overflow: visible;
    animation: testimoinals__fade 0.7s;
    background: linear-gradient(to bottom, #EFF2F4, #fff);
  }
  
  .testimonials__block--active .testimonials__message::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: #EFF2F4;
    bottom: -12px;
    margin-bottom: -28px;
    transform: rotate(45deg);
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
  }
  
  @media (min-width: 48em) {
    .testimonials__block--active .testimonials__message {
      padding-bottom: 3rem;
      margin-left: 0;
      margin-right: 0;
    }
    .testimonials__block--active .testimonials__message::after {
      bottom: -31px;
      position: relative;
      left: -1rem;
    }
  }
  
  .testimonials__block--active .testimonials__message--dotter::after {
    content: "";
  }
  
  .testimonials__block--active .testimonials__message--hider {
    display: inline;
  }
  
  .testimonials__block--active .testimonials__name {
    display: block;
  }
  
  .testimonials__block--active .testimonials__position {
    display: block;
  }
  
  @keyframes testimoinals__fade {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }