.login-form {
    width: 40%;
    margin: 40px auto;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}
  
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
  
.form-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}
  
.form-description {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}


.custom-input-wrapper {
    position: relative;
    width: 100%;
}

.custom-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding-right: 40px; 
}

.custom-input:focus {
    outline: none;
    border-color: #166534;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.input-error {
    border-color: #e53e3e !important;
    border-width: 1px !important;
}

.error-message {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
}

  
.form-actions {
    margin-top: 20px;
}
  
.login-button {
    background-color: #085A0E;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%; 
}
  
.login-button:hover {
    background-color: #b7dac5;
}
  
.form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}
  
.forgot-password {
    color: #333;
    text-decoration: none;
}
  
.forgot-password:hover {
    text-decoration: underline;
}
  
.signup-link {
    color: #333;
}
  
.signup-link a {
    color: #085A0E;
    text-decoration: none;
    font-weight: 500;
}
  
.signup-link a:hover {
    text-decoration: underline;
}