@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Onest", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.first_div {
  margin-top: 50px;
  width: 100%;
}

.divider {
  width: 80%;
  margin: 20px auto;
}

.second_div {
  width: 80%;
  margin: 20px auto;
}

.third_div {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 40px;
}

.header{
  font-size: large;
  color: green;
  margin-top: 20px;
  margin-bottom: 10px;
}

