.banner{
    padding: 150px;
}

.banner h1{
  margin: 15px;
}
.banner p{
  margin: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
    flex-wrap: wrap;
  }
  
  .button {
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-size: 1rem;
   
  }
  
  .primary-button {
    background-color: #1B5C12;
    color: white;
  }
  
  .primary-button:hover {
    background-color: #246e44;
  }
  
  .secondary-button {
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .secondary-button:hover {
    background-color: #f5f5f5;
  }
  
  .play-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  